{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appku - Software Landing Page">
    {% load static %}
    <!-- ========== Page Title ========== -->
    <title>Appku - Software Landing Page</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    {% block content %}
    <!-- End Header -->

    <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-cover text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Blog Grid</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Blog
    ============================================= -->
    <div class="blog-area full-blog blog-standard full-blog grid-colum default-padding">
        <div class="container">
            <div class="blog-items content-less">
                <div class="blog-content">
                    <div class="blog-item-box">
                        <div class="row">
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>24</strong> <span>Sep</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 27 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Suppose cottage between and way. Minuter own.</a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>14</strong> <span>Feb</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 13 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Agreement far boy otherwise rapturous. </a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>05</strong> <span>Mar</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 30 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Attachment resolution are Pefect shoot in the point</a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>25</strong> <span>Apr</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 43 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Add matter family active mutual put happen. </a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>24</strong> <span>May</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 65 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Unsatiable entreaties sympathize nay</a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-4 col-md-6 single-item">
                                <div class="item">
                                    <div class="thumb">
                                        <a href="#"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                                        <div class="date"><strong>08</strong> <span>Dec</span></div>
                                    </div>
                                    <div class="info">
                                        <div class="meta">
                                            <ul>
                                                <li>
                                                    <a href="#"><i class="fas fa-user"></i> Admin</a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-comments"></i> 27 Comments</a>
                                                </li>
                                            </ul>
                                        </div>
                                        <h4>
                                            <a href="#">Cottage between and way. Minuter own.</a>
                                        </h4>
                                        <p>
                                            One order all scale sense her gay style wrote. Incommode our not one ourselves residence. Shall there whose those.
                                        </p>
                                        <a class="btn circle btn-theme-border btn-sm" href="#">Read More</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                        
                        <!-- Pagination -->
                        <div class="row">
                            <div class="col-md-12 pagi-area text-center">
                                <nav aria-label="navigation">
                                    <ul class="pagination">
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-left"></i></a></li>
                                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                                        <li class="page-item"><a class="page-link" href="#"><i class="fas fa-angle-double-right"></i></a></li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog -->
{% endblock %}

<!-- jQuery Frameworks
    ============================================= -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/count-to.js' %}"></script>
<script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
<script src="{% static 'assets/js/validnavs.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>