<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appku - Software Landing Page">
    {% load static %}
    <!-- ========== Page Title ========== -->
    <title>Appku - Software Landing Page</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="{% static 'style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    <header>
        <!-- Start Navigation -->
        <nav class="navbar mobile-sidenav navbar-common navbar-sticky navbar-default validnavs">


            <div class="container d-flex justify-content-between align-items-center">            

                <!-- Start Header Navigation -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-bars"></i>
                    </button>
                    <a class="navbar-brand" href="{% static 'index.html' %}">
                        <img src="{% static 'assets/img/logo.png' %}" class="logo" alt="Logo">
                    </a>
                </div>
                <!-- End Header Navigation -->

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="navbar-menu">

                    <img src="{% static 'assets/img/logo.png' %}" alt="Logo">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-menu">
                        <i class="fa fa-times"></i>
                    </button>
                    
                    <ul class="nav navbar-nav navbar-right" data-in="fadeInDown" data-out="fadeOutUp">
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle active" data-toggle="dropdown" >Home</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'index.html' %}">App Landing</a></li>
                                <li><a href="{% static 'index-2.html' %}">Software Landing</a></li>
                                <li><a href="{% static 'creative-agency.html' %}">Creative Agency <span class="badge">New</span></a></li>
                                <li><a href="{% static 'it-solutions.html' %}">It Solutions <span class="badge">New</span></a></li>
                                <li><a href="{% static 'business.html' %}">Business <span class="badge">New</span></a></li>
                                <li><a href="{% static 'index-5.html' %}">Startup Landing</a></li>
                                <li><a href="{% static 'index-3.html' %}">Saas Landing</a></li>
                                <li><a href="{% static 'index-4.html' %}">Data Science</a></li>
                                <li class="dropdown">
                                    <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Onepage</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static 'index-op.html' %}">App Landing</a></li>
                                        <li><a href="{% static 'index-op-2.html' %}">Software Landing</a></li>
                                        <li><a href="{% static 'index-op-5.html' %}">Startup Landing</a></li>
                                        <li><a href="{% static 'index-op-3.html' %}">Saas Landing</a></li>
                                        <li><a href="{% static 'index-op-4.html' %}">Data Science</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Pages</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'about-us.html' %}">About Us</a></li>
                                <li class="dropdown">
                                    <a href="{% static 'about-us.html' %}" class="dropdown-toggle" data-toggle="dropdown" >Team Members</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static 'team.html' %}">Team Style One</a></li>
                                        <li><a href="{% static 'team-2.html' %}">Team Style Two</a></li>
                                        <li><a href="{% static 'team-details.html' %}">Team Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% static 'contact.html' %}">Contact Us</a></li>
                                <li><a href="{% static '404.html' %}">Error Page</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Projects</a>
                            <ul class="dropdown-menu">
                                <li class="dropdown">
                                    <a href="{% static 'about-us.html' %}" class="dropdown-toggle" data-toggle="dropdown" >Grid Style</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static 'project-2-colum.html' %}">Project Style One</a></li>
                                        <li><a href="{% static 'projects.html' %}">Project Style Two</a></li>
                                        <li><a href="{% static 'project-4-colum.html' %}">Project Style Three</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="{% static 'about-us.html' %}" class="dropdown-toggle" data-toggle="dropdown" >Masonary Style</a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% static 'project-masonary-2-colum.html' %}">Project Style One</a></li>
                                        <li><a href="{% static 'project-masonary-3-colum.html' %}">Project Style Two</a></li>
                                        <li><a href="{% static 'project-masonary-4-colum.html' %}">Project Style Three</a></li>
                                    </ul>
                                </li>
                                <li><a href="{% static 'project-details.html' %}">Project Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Services</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'services.html' %}">Services</a></li>
                                <li><a href="{% static 'services-details.html' %}">Services Details</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Blog</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'blog-standard.html' %}">Blog Standard</a></li>
                                <li><a href="{% static 'blog-with-sidebar.html' %}">Blog With Sidebar</a></li>
                                <li><a href="{% static 'blog-2-colum.html' %}">Blog Grid Two Colum</a></li>
                                <li><a href="{% static 'blog-3-colum.html' %}">Blog Grid Three Colum</a></li>
                                <li><a href="{% static 'blog-single.html' %}">Blog Single</a></li>
                                <li><a href="{% static 'blog-single-with-sidebar.html' %}">Blog Single With Sidebar</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="{% static '#' %}" class="dropdown-toggle" data-toggle="dropdown" >Shop</a>
                            <ul class="dropdown-menu">
                                <li><a href="{% static 'shop.html' %}">Shop Product</a></li>
                                <li><a href="{% static 'shop-single.html' %}">Shop Single</a></li>
                                <li><a href="{% static 'shop-single-thumb-only.html' %}">Shop Single Version Two</a></li>
                            </ul>
                        </li>
                    </ul>
                </div><!-- /.navbar-collapse -->

                <div class="attr-right">
                    <!-- Start Atribute Navigation -->
                    <div class="attr-nav">
                        <ul>
                            <li class="button"><a href="{% static '#' %}">Get Started</a></li>
                        </ul>
                    </div>
                    <!-- End Atribute Navigation -->
                </div>

                <!-- Main Nav -->
            </div>   
            <!-- Overlay screen for menu -->
            <div class="overlay-screen"></div>
            <!-- End Overlay screen for menu -->
        </nav>
        <!-- End Navigation -->
    </header>
    <!-- End Header -->

     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-cover text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Contact Us</h1>
                    <ul class="breadcrumb">
                        <li><a href="{% static '#' %}"><i class="fas fa-home"></i> Home</a></li>
                        <li>Contact</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Contact Area 
    ============================================= -->
    <div id="contact" class="contact-area default-padding">
        <div class="container">
            <div class="contact-content">
                <div class="shape">
                    <img src="{% static 'assets/img/illustration/contact.png' %}" alt="illustration">
                </div>
                <div class="row">
                    <div class="col-lg-4 info">
                        <div class="content">
                            <ul>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-envelope-open-text"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Our Email</h5>
                                        <a href="{% static 'mailto:info@validtheme.com' %}">info@validtheme.com</a> <br> <a href="{% static 'mailto:support@softar.com' %}">support@softar.com</a>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-map-marker-alt"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Address</h5>
                                        <p>
                                            22 Baker Street, <br> London, United Kingdom, <br> W1U 3BW
                                        </p>
                                    </div>
                                </li>
                                <li>
                                    <div class="icon">
                                        <i class="fas fa-headphones-alt"></i>
                                    </div>
                                    <div class="info">
                                        <h5>Phone</h5>
                                        <a href="{% static 'tel:+4733378901' %}">+44-20-7328-4499</a> <br> <a href="{% static 'tel:+4733378901' %}">+99-34-8878-9989</a>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-8 contact-form-box">
                        <div class="form-box">
                            <h2>Let's talk?</h2>
                            <p>
                                It's all about the humans behind a brand and those experiencing it, br we're right there. <br> In the middle performance quick.
                            </p>
                            <form action="assets/mail/contact.php" method="POST" class="contact-form">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group">
                                            <input class="form-control" id="name" name="name" placeholder="Name" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="email" name="email" placeholder="Email*" type="email">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                    <div class="col-lg-6">
                                        <div class="form-group">
                                            <input class="form-control" id="phone" name="phone" placeholder="Phone" type="text">
                                            <span class="alert-error"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="form-group comments">
                                            <textarea class="form-control" id="comments" name="comments" placeholder="Tell Us About Project *"></textarea>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <button type="submit" name="submit" id="submit">
                                            Send Message
                                        </button>
                                    </div>
                                </div>
                                <!-- Alert Message -->
                                <div class="col-lg-12 alert-notification">
                                    <div id="message" class="alert-msg"></div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Contact Area -->

    <!-- Start Footer 
    ============================================= -->
    <footer class="bg-dark text-light">
        <div class="container">
            <div class="f-items default-padding">
                <div class="row">
                    <div class="col-lg-4 col-md-6 item">
                        <div class="f-item about">
                            <img src="{% static 'assets/img/logo-light.png' %}" alt="Logo">
                            <p>
                                Excellence decisively nay man yet impression for contrasted remarkably. There spoke happy for you are out. Fertile how old address did showing.
                            </p>
                            <form action="#">
                                <input type="email" placeholder="Your Email" class="form-control" name="email">
                                <button type="submit"> <i class="arrow_right"></i></button>  
                            </form>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Quick LInk</h4>
                            <ul>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Home</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> About us</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Compnay History</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Features</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Blog Page</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Login</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item link">
                            <h4 class="widget-title">Community</h4>
                            <ul>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Career</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Leadership</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Strategy</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Services</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> History</a>
                                </li>
                                <li>
                                    <a href="{% static '#' %}"><i class="fas fa-angle-right"></i> Components</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 item">
                        <div class="f-item contact-widget">
                            <h4 class="widget-title">Contact Info</h4>
                            <div class="address">
                                <ul>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-home"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Address:</strong>
                                            5919 Trussville Crossings Pkwy, Birmingham
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-envelope"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Email:</strong>
                                            <a href="{% static 'mailto:info@validtheme.com' %}">info@validtheme.com</a>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="icon">
                                            <i class="fas fa-phone"></i>
                                        </div>
                                        <div class="content">
                                            <strong>Phone:</strong>
                                            <a href="{% static 'tel:2151234567' %}">+123 34598768</a>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <p>&copy; Copyright 2021. All Rights Reserved by <a href="{% static '#' %}">validthemes</a></p>
                    </div>
                    <div class="col-lg-6 text-end link">
                        <ul>
                            <li>
                                <a href="{% static '#' %}">Terms</a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">Privacy</a>
                            </li>
                            <li>
                                <a href="{% static '#' %}">Support</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!-- End Footer -->

    <!-- jQuery Frameworks
    ============================================= -->
    <script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'assets/js/popper.min.js' %}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.appear.js' %}"></script>
    <script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
    <script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
    <script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'assets/js/wow.min.js' %}"></script>
    <script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
    <script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
    <script src="{% static 'assets/js/count-to.js' %}"></script>
    <script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
    <script src="{% static 'assets/js/validnavs.js' %}"></script>
    <script src="{% static 'assets/js/main.js' %}"></script>

</body>
</html>