{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appku - Software Landing Page">
    {% load static %}
    <!-- ========== Page Title ========== -->
    <title>Appku - Software Landing Page</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/helper.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/shop.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

  <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    {% block content %}
    <!-- End Header -->

   <!-- Start Banner 
    ============================================= -->
    <div class="business-banner overflow-hidden bg-cover" style="background-image: url(assets/img/shape/4.jpg);">
        <div class="container">
            <div class="double-items">
                <div class="row align-center">

                    <div class="col-lg-5 info">
                        <h4>We are expert in this field</h4>
                        <h2>Get smart way <br> for your business </h2>
                        <p>
                            Lasted hunted enough an up seeing in lively letter. Had judgment out opinions property the supplied.
                        </p>
                        <a class="btn-animation mt-15" href="services.html"><i class="fas fa-arrow-right"></i> <span>Our Services</span></a>
                    </div>

                     <div class="col-lg-6 offset-lg-1 business-banner-thumb">
                        <img class="wow fadeInUp" src="{% static 'assets/img/illustration/28.png' %}" alt="Thumb">
                        <img class="wow fadeInRight" data-wow-delay="900ms" src="{% static 'assets/img/illustration/graph-1.png' %}" alt="Thumb">
                        <div class="revenew wow fadeInDown" data-wow-delay="500ms">
                            <i class="fas fa-arrow-right"></i>
                            <h4>+32.88%</h4>
                            <p>
                                Revenue
                            </p>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

     <!-- Start Feature
    ============================================= -->
    <div class="feature-style-two-area default-padding" style="background-image: url(assets/img/shape/50.png);">
        <div class="container">
            <div class="feature-style-two-items">
                <div class="row">
                    <div class="col-xl-7">
                        <div class="row">
                            <!-- Single Item -->
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-style-two">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/icon/5.png' %}" alt="Icon">
                                    </div>
                                    <div class="info">
                                        <h4>Growing Business</h4>
                                        <p>
                                            Seeing rather esteem men perfection excuse. Deal say over you age from. Comparison new ham melancholy themselves.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="col-lg-6 col-md-6">
                                <div class="feature-style-two">
                                    <div class="icon">
                                        <img src="{% static 'assets/img/icon/6.png' %}" alt="Icon">
                                    </div>
                                    <div class="info">
                                        <h4>Finance Investment</h4>
                                        <p>
                                            Maximum rather esteem men perfection excuse. Deal say over you age from. Comparison new ham melancholy proper.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                    <div class="col-xl-4 offset-xl-1">
                        <div class="right-info">
                            <h4 class="sub-title">GROWING WITH OUR CLIENTS</h4>
                            <h2 class="title">30 Years of <br> Experience </h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Feature -->

    <!-- Start About
    ============================================= -->
    <div class="about-style-seven-area default-padding-bottom">
        <div class="container">
            <div class="about-style-seven-items bg-dark text-light">
                <div class="about-style-seven-thumb" style="background-image: url(assets/img/800x800.png);"></div>
                <div class="row">
                    <div class="col-lg-6 offset-lg-6">
                        <div class="about-seven-item">
                            <h2>Finance Consulting for Challenging Times</h2>
                            <p>
                                Happen unable uneasy. Drawings can followed improved out sociable not. Earnestly so do instantly pretended. See general few civilly amiable pleased account carried. Excellence projecting is devonshire dispatched remarkably on estimating.
                            </p>
                            <div class="author-info">
                                <div class="thumb">
                                    <img src="{% static 'assets/img/100x100.png' %}" alt="Image Not Found">
                                </div>
                                <div class="info">
                                    <h4>Ahem Natasha</h4>
                                    <span>CEO & Founder</span>
                                </div>
                                <img src="{% static 'assets/img/signature.png' %}" alt="Image not Found">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Services 
    ============================================= -->
    <div id="services" class="services-style-seven-area relative default-padding bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Our Services</h4>
                        <h2 class="title-regular">What we do for you?</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-full">
            <div class="row">
                <div class="col-lg-12">
                    <div class="services-style-seven-carousel owl-carousel owl-theme">
                        <!-- Single item -->
                        <div class="service-seven-item">
                            <div class="top">
                                <img src="{% static 'assets/img/icon/money.png' %}" alt="Image Not Found">
                                <h4><a href="#">Investment idea</a></h4>
                            </div>
                            <ul>
                                <li>Dropshipping business</li>
                                <li>Charitable business</li>
                                <li>Design and sell print</li>
                            </ul>
                            <p>
                                There whose those stand she end. So unaffected partiality indulgence dispatched to of celebrated remarkably. Unfeeling are had allowance own perceived abilities.
                            </p>
                            <a href="#">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="service-seven-item">
                            <div class="top">
                                <img src="{% static 'assets/img/icon/wallet.png' %}" alt="Image Not Found">
                                <h4><a href="#">Business Strategy</a></h4>
                            </div>
                            <ul>
                                <li>Improve the growth & efficiency</li>
                                <li>Make a great investment</li>
                                <li>Improve the capabilities </li>
                            </ul>
                            <p>
                                There whose those stand she end. So unaffected partiality indulgence dispatched to of celebrated remarkably. Unfeeling are had allowance own perceived abilities.
                            </p>
                            <a href="#">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="service-seven-item">
                            <div class="top">
                                <img src="{% static 'assets/img/icon/transaction.png' %}" alt="Image Not Found">
                                <h4><a href="#">Consultancy Advice</a></h4>
                            </div>
                            <ul>
                                <li>Decrease your costs</li>
                                <li>Become your organization’s</li>
                                <li>Design and sell print</li>
                            </ul>
                            <p>
                                There whose those stand she end. So unaffected partiality indulgence dispatched to of celebrated remarkably. Unfeeling are had allowance own perceived abilities.
                            </p>
                            <a href="#">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!-- End Single item -->
                        <!-- Single item -->
                        <div class="service-seven-item">
                            <div class="top">
                                <img src="{% static 'assets/img/icon/payment-method.png' %}" alt="Image Not Found">
                                <h4><a href="#">Markets Researc</a></h4>
                            </div>
                            <ul>
                                <li>Dropshipping business</li>
                                <li>Charitable business</li>
                                <li>Design and sell print</li>
                            </ul>
                            <p>
                                There whose those stand she end. So unaffected partiality indulgence dispatched to of celebrated remarkably. Unfeeling are had allowance own perceived abilities.
                            </p>
                            <a href="#">Know More <i class="fas fa-arrow-right"></i></a>
                        </div>
                        <!-- End Single item -->
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start Brand 
    ============================================= -->
    <div class="barnd-style-three-area text-center default-padding-bottom bg-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1 mb-50 mb-xs-30">
                    <h2 class="bg-text" style="background-image: url(assets/img/shape/6.jpg);">We collaborate with 200+ companies</h2>
                </div>
                <div class="col-lg-10 offset-lg-1">
                    <div class="brand-three-items">
                        <div class="item">
                            <img src="{% static 'assets/img/clients/c1.png' %}" alt="Image not Found">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/img/clients/c2.png' %}" alt="Image not Found">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/img/clients/c7.png' %}" alt="Image not Found">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/img/clients/c4.png' %}" alt="Image not Found">
                        </div>
                        <div class="item">
                            <img src="{% static 'assets/img/clients/c5.png' %}" alt="Image not Found">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Brand -->

    <!-- Start Gallery
    ============================================= -->
    <div class="gallery-area default-padding-bottom overflow-hidden bg-gray">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Recent Projects</h4>
                        <h2 class="title-regular">Latest showcase and <br> solutions to our customers!</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12 gallery-content">
                    <div class="magnific-mix-gallery masonary gallery-style-three">
                        <div id="portfolio-grid" class="gallery-items colums-4">
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x600.png' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Components</span>
                                            <h5><a href="project-details.html">UI design</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x1550.svg' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Business</span>
                                            <h5><a href="project-details.html">Business Apps</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x900.png' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Invest</span>
                                            <h5><a href="project-details.html">Travel Apps</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x1550.svg' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Creative</span>
                                            <h5><a href="project-details.html">Gaming Apps</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x900.png' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Finance</span>
                                            <h5><a href="project-details.html">Entertainment Apps</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item">
                                <div class="overlay">
                                    <img src="{% static 'assets/img/800x600.png' %}" alt="thumb">
                                    <div class="content">
                                        <div class="title">
                                            <span>Source</span>
                                            <h5><a href="project-details.html">Lifestyle Apps</a></h5>
                                        </div>
                                        <a href="project-details.html"><i class="fas fa-arrow-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Item -->
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Gallery -->

    <!-- Start Team 
    ============================================= -->
    <div id="team" class="team-area default-padding bottom-less">
        <!-- Shape -->
        <div class="fixed-shape" style="background-image: url(assets/img/shape/5.png);"></div>
        <!-- End Shape -->
       
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Team Members</h4>
                        <h2 class="title-regular"> Meet our team experts</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="team-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle" class="share-toggle" hidden>
                                    <label for="toggle" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4><a href="team-details.html">Ahem Natasha</a></h4>
                                <span>Operations officer</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle2" class="share-toggle" hidden>
                                    <label for="toggle2" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4><a href="team-details.html">Devid mark</a></h4>
                                <span>Graphic designer</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="thumb">
                                <img src="{% static 'assets/img/800x900.png' %}" alt="Thumb">
                                <div class="social">
                                    <input type="checkbox" id="toggle3" class="share-toggle" hidden>
                                    <label for="toggle3" class="share-button">
                                        <i class="fas fa-plus"></i>
                                    </label>
                                    <a href="#" class="share-icon facebook">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a href="#" class="share-icon twitter">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a href="#" class="share-icon instagram">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <h4><a href="team-details.html">Brave Hammam</a></h4>
                                <span>Web developer</span>
                            </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Team Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonial-style-two-area bg-gradient text-light default-padding">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Testimonials</h4>
                        <h2 class="title-regular"> What people say about <br> our creative service	</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="tesimonial-style-two-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>Design Quality</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future. 
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Devid Warner</h4>
                                        <span> Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>Customer Support</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Pruasuj Natasha</h4>
                                        <span> Theme Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>User Friendly</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Koyel Anderson</h4>
                                        <span> Project Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Blog 
    ============================================= -->
    <div id="blog" class="blog-area default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Latest News</h4>
                        <h2 class="title-regular"> Latest News & Articles	</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>18</strong> <span>Apr</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> User</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 26 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Discovery earnestly public commanded mentions.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>25</strong> <span>Aug</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> Admin</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 35 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Considered imprudence of he friendship boisterous.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>05</strong> <span>Jul</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> user</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 12 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Overcame breeding or my concerns removing desirous.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

            </div>
        </div>
    </div>
    <!-- End Blog -->

    <!-- Start Free Trial 
    ============================================= -->
    <div class="free-trial-area text-light text-center default-padding-bottom">
        <div class="container">
           <div class="trial-box" style="background-image: url(assets/img/shape/8.png);">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>Free Trial</h5>
                        <h2>Start Your 14 Days Free <br> Trials Today!</h2>
                        <form action="#">
                            <input type="email" placeholder="Your Email" class="form-control" name="email">
                            <button type="submit"> Free Trial</button>  
                        </form>
                    </div>
                </div>
                <div class="illustration">
                    <img src="{% static 'assets/img/illustration/1.png' %}" alt="illustration">
                </div>
           </div>
        </div>
    </div>
    <!-- End Free Trial -->

{% endblock %}

<!-- jQuery Frameworks
    ============================================= -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/count-to.js' %}"></script>
<script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
<script src="{% static 'assets/js/validnavs.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>