{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appku - Software Landing Page">
    {% load static %}
    <!-- ========== Page Title ========== -->
    <title>Appku - Software Landing Page</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/fullpage.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/helper.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/shop.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body class="bg-dark-primary">

  <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    {% block content %}
    <!-- End Header -->

    <!-- Start Banner 
    ============================================= -->
    <div class="banner-style-creative text-light bg-cover" style="background-image: url(assets/img/shape/47.png);">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-12 text-center banner-creative-item">
                    <h2>Digital Platform <br> Creative Idea</h2>
                    <div class="bottom">
                        <img src="{% static 'assets/img/800x800.png' %}" alt="Image not Found">
                        <div class="content">
                            <div class="curve-text">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 150 150" version="1.1">
                                    <path id="textPath" d="M 0,75 a 75,75 0 1,1 0,1 z"></path>
                                    <text><textPath href="#textPath">Award Winning Agency</textPath></text>
                                </svg>
                                <img src="{% static 'assets/img/logo-icon.png' %}" alt="Image Not Found">
                            </div>
                            <p>
                                Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new another competion genaral.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Start Services
    ============================================= -->
    <div class="services-style-five-area bg-dark-optional default-padding bottom-less text-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="site-heading">
                        <h4 class="title-sub">What we do for you</h4>
                        <h2 class="title-regular">Keeping Track Of <br> Our Creative Services</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row align-center">
                <!-- Single item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="services-style-five">
                        <div class="content">
                            <div class="icon">
                                <img src="{% static 'assets/img/icon/creative/5.png' %}" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4><a href="#">Online Marketing</a></h4>
                                <p>
                                    Maximum in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius.
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Marketing</li>
                                <li>Agency</li>
                                <li>Digital</li>
                            </ul>
                            <a class="btn btn-sm circle btn-dark btn-theme" href="#">Know More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="services-style-five">
                        <div class="content">
                            <div class="icon">
                                <img src="{% static 'assets/img/icon/creative/6.png' %}" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4><a href="#">Brand Strategy</a></h4>
                                <p>
                                    Maximum in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius.
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Strategy</li>
                                <li>Creative</li>
                                <li>Digital</li>
                            </ul>
                            <a class="btn btn-sm circle btn-dark btn-theme" href="#">Know More</a>
                        </div>
                    </div>
                </div>
                <!-- Single item -->
                <!-- Single item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="services-style-five">
                        <div class="content">
                            <div class="icon">
                                <img src="{% static 'assets/img/icon/creative/7.png' %}" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4><a href="#">Art Direction</a></h4>
                                <p>
                                    Maximum in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius.
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Marketing</li>
                                <li>Agency</li>
                                <li>Digital</li>
                            </ul>
                            <a class="btn btn-sm circle btn-dark btn-theme" href="#">Know More</a>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="col-lg-6 col-md-6 mb-30">
                    <div class="services-style-five">
                        <div class="content">
                            <div class="icon">
                                <img src="{% static 'assets/img/icon/creative/8.png' %}" alt="Image Not Found">
                            </div>
                            <div class="info">
                                <h4><a href="#">Video Production</a></h4>
                                <p>
                                    Maximum in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius.
                                </p>
                            </div>
                        </div>
                        <div class="bottom">
                            <ul>
                                <li>Analysis</li>
                                <li>Production</li>
                                <li>Design</li>
                            </ul>
                            <a class="btn btn-sm circle btn-dark btn-theme" href="#">Know More</a>
                        </div>
                    </div>
                </div>
                <!-- Single item -->
            </div>
        </div>
    </div>
    <!-- End Services -->

    <!-- Start About 
    ============================================= -->
    <div class="about-style-five-area text-light default-padding-bottom bg-dark-optional">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-five-thumb">
                        <img src="{% static 'assets/img/800x800.png' %}" alt="Image Not Found">
                    </div>
                </div>
                <div class="col-lg-4 offset-lg-1">
                    <div class="about-five-items">
                        <div class="about-fun-fact">
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="25" data-speed="2000">25</div>
                                    <div class="operator">+</div>
                                </div>
                                <span class="medium">Year of experience</span>
                            </div>
                            <div class="fun-fact">
                                <div class="counter">
                                    <div class="timer" data-to="50" data-speed="2000">50</div>
                                    <div class="operator">K</div>
                                </div>
                                <span class="medium">Complete Project </span>
                            </div>
                        </div>
                        <div class="about-five-content">
                            <h2>We are a digital creative* studio</h2>
                            <p>
                                Excellence projecting is devonshire dispatched remarkably on estimating. Side in so life past. Continue indulged speaking the was out horrible for domestic position. Seeing rather her you not esteem men settle genius excuse. Deal say over you age from. Comparison new ham melancholy son themselves.
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End About -->

    <!-- Start Brand Area 
    ============================================= -->
    <div class="brand-area relative overflow-hidden default-padding-bottom bg-dark-optional text-light">
        <div class="brand-style-one">
            <div class="container-fill">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="brand-items">
                            <div class="brand-conetnt">
                                <div class="item">
                                    <h2>Marketing</h2>
                                </div>
                                <div class="item">
                                    <h2>Branding</h2>
                                </div>
                                <div class="item">
                                    <h2>Design</h2>
                                </div>
                                <div class="item">
                                    <h2>Development</h2>
                                </div>
                            </div>
                            <div class="brand-conetnt">
                                <div class="item">
                                    <h2>Marketing</h2>
                                </div>
                                <div class="item">
                                    <h2>Branding</h2>
                                </div>
                                <div class="item">
                                    <h2>Design</h2>
                                </div>
                                <div class="item">
                                    <h2>Development</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Bradn Area -->

    <!-- Start Portfolio 
    ============================================= -->
    <div class="portfolio-style-two-area default-padding text-light">

        <div class="container">
            <div class="site-heading">
                <div class="row">
                    <div class="col-xl-6">
                        <div class="content-left">
                            <h5 class="title-sub">Popular Projects</h5>
                            <h2 class="title-regular">Professional Look Our <br> Recent Project</h2>
                        </div>
                    </div>
                    <div class="col-xl-6">
                        <div class="mix-item-menu text-end">
                            <button class="active" data-filter="*">All</button>
                            <button data-filter=".design">Design</button>
                            <button data-filter=".branding">Branding</button>
                            <button data-filter=".marketing">Marketing</button>
                        </div>
                        <!-- End Mixitup Nav-->
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-md-12 gallery-content">
                    <div class="magnific-mix-gallery gallery-masonary">
                        <div id="portfolio-grid" class="gallery-items colums-2">
                            <!-- Single Item -->
                            <div class="pf-item marketing">
                                <div class="gallery-style-two">
                                    <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                    <div class="content">
                                        <span>Marketing</span>
                                        <h4><a href="#">Photo shooting and editing</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item branding design">
                                <div class="gallery-style-two">
                                    <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                                    <div class="content">
                                        <span>Cretive</span>
                                        <h4><a href="#">Quality in industrial design</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item design">
                                <div class="gallery-style-two">
                                    <img src="{% static 'assets/img/800x800.png' %}" alt="Thumb">
                                    <div class="content">
                                        <span>Design</span>
                                        <h4><a href="#">Blue business mockup cards</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="pf-item branding marketing">
                                <div class="gallery-style-two">
                                    <img src="{% static 'assets/img/800x600.png' %}" alt="Thumb">
                                    <div class="content">
                                        <span>Business</span>
                                        <h4><a href="#">Simple black & white designr</a></h4>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- End Portfolio -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonial-style-two-area text-light default-padding-bottom">

        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Testimonials</h4>
                        <h2 class="title-regular"> What people say about <br> our creative service	</h2>
                    </div>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="tesimonial-style-two-carousel owl-carousel owl-theme">
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>Design Quality</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future. 
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Devid Warner</h4>
                                        <span> Managing Director</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>Customer Support</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Pruasuj Natasha</h4>
                                        <span> Theme Developer</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                        <!-- Single Item -->
                        <div class="item">
                            <div class="provider">
                                <img src="{% static 'assets/img/800x800.png' %}" alt="Author">
                            </div>
                            <div class="info">
                                <svg xmlns="http://www.w3.org/2000/svg">
                                    <path class="cls-1" d="M761,4387h1v76.34l-20,24.11,20,26.24V4677h-1V4513.68l-20-26.16,20-24.1V4387Z" transform="translate(-741 -4387)"></path>
                                </svg>
                                <div class="reason">
                                    <h5>User Friendly</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                                <p>
                                    Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                </p>
                                <div class="content">
                                    <img src="{% static 'assets/img/shape/quote-big.png' %}" alt="Image not Found">
                                    <div class="right">
                                        <h4>Koyel Anderson</h4>
                                        <span> Project Manager</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Single Item -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials -->

    <!-- Start Clients 
    ============================================= -->
    <div class="clients-style-one-area text-light default-padding-bottom">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-4">
                    <h1 class="number-text">38</h1>
                    <h2 class="title-regular">International Partner</h2>
                </div>
                <div class="col-lg-8">
                    <div class="clients-style-one-items text-center">
                        <img src="{% static 'assets/img/clients/c1.png' %}" alt="Image Not Found">
                        <img src="{% static 'assets/img/clients/c2.png' %}" alt="Image Not Found">
                        <img src="{% static 'assets/img/clients/c3.png' %}" alt="Image Not Found">
                        <img src="{% static 'assets/img/clients/c5.png' %}" alt="Image Not Found">
                        <img src="{% static 'assets/img/clients/c6.png' %}" alt="Image Not Found">
                        <img src="{% static 'assets/img/clients/c7.png' %}" alt="Image Not Found">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Clientes -->

    <!-- Start Blog 
    ============================================= -->
    <div id="blog" class="blog-area bg-dark-optional text-light default-padding bottom-less">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h4 class="title-sub">Latest Blog</h4>
                        <h2 class="title-regular"> Check our news posts	</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>18</strong> <span>Apr</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> User</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 26 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Discovery earnestly public commanded mentions.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>25</strong> <span>Aug</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> Admin</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 35 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Considered imprudence of he friendship boisterous.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

                <!-- Single item -->
                <div class="single-item col-lg-4 col-md-6">
                    <div class="item">
                        <div class="thumb">
                            <a href="blog-single-with-sidebar.html"><img src="{% static 'assets/img/800x600.png' %}" alt="Thumb"></a>
                            <div class="date"><strong>05</strong> <span>Jul</span></div>
                        </div>
                        <div class="info">
                            <div class="meta">
                                <ul>
                                    <li>
                                        <a href="#"><i class="fas fa-user-circle"></i> user</a>
                                    </li>
                                    <li>
                                        <a href="#"><i class="fas fa-comments"></i> 12 Comments</a>
                                    </li>
                                </ul>
                            </div>
                            <h4>
                                <a href="blog-single-with-sidebar.html">Overcame breeding or my concerns removing desirous.</a>
                            </h4>
                            <p>
                                Possession ye no mr unaffected remarkably at. Wrote house in never fruit up. Pasture imagine my garrets.  
                            </p>
                        </div>
                    </div>
                </div>
                <!-- End Single item -->

            </div>
        </div>
    </div>
    <!-- End Blog -->
{% endblock %}

<!-- jQuery Frameworks
    ============================================= -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/count-to.js' %}"></script>
<script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
<script src="{% static 'assets/js/validnavs.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>