{% extends 'base.html' %}

<!DOCTYPE html>
<html lang="en">

<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Appku - Software Landing Page">
    {% load static %}
    <!-- ========== Page Title ========== -->
    <title>Appku - Software Landing Page</title>

    <!-- ========== Favicon Icon ========== -->
    <link rel="shortcut icon" href="{% static 'assets/img/favicon.png' %}" type="image/x-icon">

    <!-- ========== Start Stylesheet ========== -->
    <link href="{% static 'assets/css/bootstrap.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/font-awesome.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/themify-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/elegant-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/flaticon-set.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/magnific-popup.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.carousel.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/owl.theme.default.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/animate.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/validnavs.css' %}" rel="stylesheet" />
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet" />
    <link href="style.css" rel="stylesheet">
    <link href="{% static 'assets/css/responsive.css' %}" rel="stylesheet" />
    <!-- ========== End Stylesheet ========== -->

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="{% static 'assets/js/html5/html5shiv.min.js' %}"></script>
      <script src="{% static 'assets/js/html5/respond.min.js' %}"></script>
    <![endif]-->

</head>

<body>

    <!-- Preloader Start -->
    <div class="se-pre-con"></div>
    <!-- Preloader Ends -->

    <!-- Header 
    ============================================= -->
    {% block content %}
    <!-- End Header -->

     <!-- Start Breadcrumb 
    ============================================= -->
    <div class="breadcrumb-area shadow dark bg-cover text-center text-light" style="background-image: url(assets/img/2440x1578.png);">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                    <h1>Our Services</h1>
                    <ul class="breadcrumb">
                        <li><a href="#"><i class="fas fa-home"></i> Home</a></li>
                        <li>Services</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Start Features
    ============================================= -->
    <div id="features" class="our-features-area default-padding bottom-less">
        <!-- Fixed BG -->
        <div class="fixed-bg" style="background-image: url(assets/img/shape/17.png);"></div>
        <!-- Fixed BG -->
        <div class="container">
            <div class="feature-items">
                <div class="row">
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="icon">
                               <i class="flaticon-website"></i>
                           </div>
                           <div class="info">
                               <h4>Fully Customizable</h4>
                               <p>
                                   Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                               </p>
                           </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                           <div class="icon">
                               <i class="flaticon-integration"></i>
                           </div>
                           <div class="info">
                               <h4>App Integration</h4>
                               <p>
                                    Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                               </p>
                           </div>
                       </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                           <div class="icon">
                               <i class="flaticon-rgb-1"></i>
                           </div>
                           <div class="info">
                               <h4>Color Schemes</h4>
                               <p>
                                    Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                                </p>
                           </div>
                       </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                           <div class="icon">
                               <i class="flaticon-resolution-1"></i>
                           </div>
                           <div class="info">
                               <h4>High Resolution</h4>
                               <p>
                                    Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                               </p>
                           </div>
                       </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="icon">
                               <i class="flaticon-drag"></i>
                           </div>
                           <div class="info">
                               <h4>Drag And Drop</h4>
                               <p>
                                    Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                               </p>
                           </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                    <!-- Single Item -->
                    <div class="single-item col-lg-4 col-md-6">
                        <div class="item">
                            <div class="icon">
                               <i class="flaticon-showcase"></i>
                           </div>
                           <div class="info">
                               <h4>Perfect Showcase</h4>
                               <p>
                                    Passage weather as up am exposed. And natural related man subject eagerness it. concluded consisted or no gentleman.
                               </p>
                           </div>
                        </div>
                    </div>
                    <!-- End Single Item -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Our Features -->

    <!-- Start Process Area 
    ============================================= -->
    <div id="process" class="process-area bg-gray default-padding">
        <div class="container">
            <div class="row align-center">
                <div class="col-lg-6 thumb">
                    <img src="{% static 'assets/img/illustration/7.png' %}" alt="Thumb">
                </div>
                <div class="col-lg-6 info ml-auto">
                    <h2>Most probably you are getting the best App ever</h2>
                    <ul>
                        <li>
                            <div class="icon">
                                <i class="fas fa-cloud-download"></i>
                            </div>
                            <div class="content wow fadeInUp" data-wow-delay="300ms">
                                <h4>Free Download App</h4>
                                <p>
                                    Sometimes furnished collected add for resources attention. Norland an by minuter.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-fingerprint"></i>
                            </div>
                            <div class="content wow fadeInUp" data-wow-delay="500ms">
                                <h4>Trusted and Reliable</h4>
                                <p>
                                    Bumetimes furnished collected add for resources attention. Norland an minister.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="icon">
                                <i class="fas fa-database"></i>
                            </div>
                            <div class="content wow fadeInUp" data-wow-delay="700ms">
                                <h4>Cloud Storage</h4>
                                <p>
                                    Sometimes furnished collected add for resources attention. Norland an by minuter. 
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End Process Area -->

    <!-- Start Pricing 
    ============================================= -->
    <div id="pricing" class="pricing-area bg-dark default-padding bottom-less">
        <div class="shape" style="background-image: url(assets/img/shape/16.png);"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>Our Packages</h2>
                        <div class="devider"></div>
                        <p>
                            Outlived no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be as it curiosity departure ourselves very extreme future. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="pricing-items">
                <div class="row">
                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <i class="fas fa-rocket"></i>
                            <div class="pricing-header">
                                <h4>Free trial</h4>
                                <span>Save 25%</span>
                            </div>
                            <div class="price">
                                <h2><sup>$</sup>0 <sub>/ Monthly</sub></h2>
                            </div>
                            <a class="btn circle btn-theme-effect btn-sm" href="#">Purchase Plan</a>
                            <ul>
                                <li><i class="fas fa-check"></i> Demo file</li>
                                <li><i class="fas fa-check"></i> 10 GB Dedicated Hosting free</li>
                                <li><i class="fas fa-check"></i> Lifetime free Support</li>
                                <li><i class="fas fa-check"></i> SEO Optimized</li>
                                <li><i class="fas fa-times"></i> Live Support</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Itme -->

                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <i class="fas fa-gem"></i>
                            <div class="pricing-header">
                                <h4>Regular</h4>
                                <span>Save 35%</span>
                            </div>
                            <div class="price">
                                <h2><sup>$</sup>29 <sub>/ Monthly</sub></h2>
                            </div>
                            <a class="btn circle btn-theme-effect btn-sm" href="#">Purchase Plan</a>
                            <ul>
                                <li><i class="fas fa-check"></i> Demo file</li>
                                <li><i class="fas fa-check"></i> 10 GB Dedicated Hosting free</li>
                                <li><i class="fas fa-check"></i> Lifetime free Support</li>
                                <li><i class="fas fa-check"></i> SEO Optimized</li>
                                <li><i class="fas fa-times"></i> Live Support</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Itme -->

                    <!-- Single Itme -->
                    <div class="col-lg-4 col-md-6 single-item">
                        <div class="pricing-item">
                            <i class="fa fa-chart-pie"></i>
                            <div class="pricing-header">
                                <h4>Extended</h4>
                                <span>Save 49%</span>
                            </div>
                            <div class="price">
                                <h2><sup>$</sup>59 <sub>/ Monthly</sub></h2>
                            </div>
                            <a class="btn circle btn-theme-effect btn-sm" href="#">Purchase Plan</a>
                            <ul>
                                <li><i class="fas fa-check"></i> Demo file</li>
                                <li><i class="fas fa-check"></i> 10 GB Dedicated Hosting free</li>
                                <li><i class="fas fa-check"></i> Lifetime free Support</li>
                                <li><i class="fas fa-check"></i> SEO Optimized</li>
                                <li><i class="fas fa-check"></i> Live Support</li>
                            </ul>
                        </div>
                    </div>
                    <!-- End Single Itme -->
                </div>
            </div>
        </div>
    </div>
    <!-- End Pricing Area -->

    <!-- Start Testimonials 
    ============================================= -->
    <div class="testimonials-area carousel-shadow default-padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="site-heading text-center">
                        <h2>What people say</h2>
                        <div class="devider"></div>
                        <p>
                            Outlived no dwelling denoting in peculiar as he believed. Behaviour excellent middleton be as it curiosity departure ourselves very extreme future. 
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="testimonial-items">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonial-carousel owl-carousel owl-theme">
                            <!-- Single Item -->
                            <div class="item">
                                <div class="provider">
                                    <img src="{% static 'assets/img/100x100.png' %}" alt="Author">
                                    <div class="content">
                                        <h4>Devid Warner</h4>
                                        <span> Managing Director</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future. 
                                    </p>
                                </div>
                                <div class="reason">
                                    <h5>Design Quality</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="provider">
                                    <img src="{% static 'assets/img/100x100.png' %}" alt="Author">
                                    <div class="content">
                                        <h4>Pruasuj Natasha</h4>
                                        <span> Theme Developer</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                    </p>
                                </div>
                                <div class="reason">
                                    <h5>Customer Support</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                            <!-- Single Item -->
                            <div class="item">
                                <div class="provider">
                                    <img src="{% static 'assets/img/100x100.png' %}" alt="Author">
                                    <div class="content">
                                        <h4>Koyel Anderson</h4>
                                        <span> Project Manager</span>
                                    </div>
                                </div>
                                <div class="info">
                                    <p>
                                        Otherwise concealed favourite frankness on be at dashwoods mentions defective at. Sympathize interested simplicity at do projecting care effect increasing terminated. As edward settle limits at in. Chamber reaching abnormally nothing be accesing to the point. very extreme future.  
                                    </p>
                                </div>
                                <div class="reason">
                                    <h5>User Friendly</h5>
                                    <div class="rating">
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                        <i class="fas fa-star"></i>
                                    </div>
                                </div>
                            </div>
                            <!-- End Single Item -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Testimonials Area -->
{% endblock %}

<!-- jQuery Frameworks
    ============================================= -->
<script src="{% static 'assets/js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'assets/js/popper.min.js' %}"></script>
<script src="{% static 'assets/js/bootstrap.bundle.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.appear.js' %}"></script>
<script src="{% static 'assets/js/jquery.easing.min.js' %}"></script>
<script src="{% static 'assets/js/jquery.magnific-popup.min.js' %}"></script>
<script src="{% static 'assets/js/modernizr.custom.13711.js' %}"></script>
<script src="{% static 'assets/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'assets/js/wow.min.js' %}"></script>
<script src="{% static 'assets/js/progress-bar.min.js' %}"></script>
<script src="{% static 'assets/js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/imagesloaded.pkgd.min.js' %}"></script>
<script src="{% static 'assets/js/count-to.js' %}"></script>
<script src="{% static 'assets/js/YTPlayer.min.js' %}"></script>
<script src="{% static 'assets/js/validnavs.js' %}"></script>
<script src="{% static 'assets/js/main.js' %}"></script>

</body>

</html>