{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-4 text-center">
            {% if user_profile.profile_picture %}
            <img src="{{ user_profile.profile_picture.url }}" alt="Profile Picture" class="img-thumbnail rounded-circle"
                style="width: 150px; height: 150px;">
            {% else %}
            <img src="{% static 'assets/img/default-profile.png' %}" alt="Default Profile Picture"
                class="img-thumbnail rounded-circle" style="width: 150px; height: 150px;">
            {% endif %}
            <h2 class="mt-3">{{ user.username }}</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card shadow-sm mb-4">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">{% trans "Profile Information" %}</h5>
                </div>
                <div class="card-body">
                    <table class="table">
                        <tbody>
                            <tr>
                                <th scope="row">{% trans "Email" %}</th>
                                <td>{{ user.email }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans "Phone Number" %}</th>
                                <td>{{ user_profile.phone_number }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans "Bio" %}</th>
                                <td>{{ user_profile.bio }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans "Job Title" %}</th>
                                <td>{{ user_profile.job_title }}</td>
                            </tr>
                            <tr>
                                <th scope="row">{% trans "Preferred Language" %}</th>
                                <td>{{ user_profile.get_language_display }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card shadow-sm">
                <div class="card-header bg-dark text-white">
                    <h5 class="mb-0">{% trans "Switch Profile" %}</h5>
                </div>
                <div class="card-body">
                    <form method="get" action="{% url 'profile' %}">
                        <div class="input-group">
                            <select name="profile_id" class="form-select" onchange="this.form.submit()">
                                {% for profile in user_profiles %}
                                <option value="{{ profile.id }}" {% if profile.id == user_profile.id %}selected{% endif %}>
                                    {{ profile.get_language_display }} - {{ profile.company.name }}
                                </option>
                                {% endfor %}
                            </select>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}